.popup__close {
  min-width: 20px;
  min-height: 20px;
  padding: 0;
  border: none;
  position: absolute;
  top: -36px;
  right: 0;
  background: no-repeat center url(../../../images/close-icon.svg);
  transition: opacity 0.3s ease-in-out;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width:1000px) {
  .popup__close {
    min-width: 32px;
    min-height: 32px;
    top: -40px;
    right: -40px;
    background-size: cover;
  }
}
